<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>Test</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

	<script src="texteditor.js"></script>

</head>
<body>
	<h1>Uredi ovaj dokument</h1>
	<div id="username">majama</div>

	<div class="uredivo">

		<p id="dok123_linija001">Prvi odlomak nema pametnog teksta.</p>
		<p id="dok123_linija002">Drugi odlomak također nema pametnog teksta.</p>
		<p id="dok123_linija003">Treći odlomak nije ništa bolji od prvog i drugog.</p>

		<!-- id linije nije redni broj linije -->

	</div>

</body>
</html>
